{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>AppTrack</title>
</head>
<body>
    <header>
            <div>
                <ul>
                    <li><a href="/" >APPTRACK</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'applications_index' %}">ALL APPS</a></li>
                    <li><a href="#">PRIORITY APPS</a></li>
                    <br>
                    <li><a href="{% url 'applications_create' %}">NEW APPLICATION</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                    {% endif %}
                </ul>
            </div>
    </header>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
</body>

</html>