{% extends 'base.html' %} {% block content %}
<br>
<div class="card">
    <div class="card-content">
        <h5>Welcome to AppTrack</h5>
        <hr>
        <h6>In a world where there's hundreds of job boards to apply through during the application process, AppTrack provides you a single application to keep track of all of your application. </h6>
        <br>
        <h6>Once you create an account, you'll be able to:</h6> 
        <ul>
            <li>   Track hundreds of applications across any job board.</li>
            <li>   Personalize your notes about the application proccess.</li>
            <li>   Filter by application status to stay organized.</li>
            <li>   Record your various contact methods for each application.</li>
            <li>And much, much more.</li>
        </ul>
        <br>
        <h6>If you haven't already, feel free to <a href="/accounts/signup">SIGN UP</a> for free. Otherwise, feel free to log in and begin <a href="/applications/">BROWSING YOUR APPLICATIONS</a>.</h6>
    </div>
</div>

{% endblock %}
