/* COLOR PALETTE: 
#eceff1 blue-grey lighten-5
#cfd8dc blue-grey lighten-4
#b0bec5 blue-grey lighten-3
#90a4ae blue-grey lighten-2
#78909c blue-grey lighten-1
#607d8b blue-grey
#546e7a blue-grey darken-1
#455a64 blue-grey darken-2
#37474f blue-grey darken-3
#263238 blue-grey darken-4 */

/* ENTIRE DOCUMENT */
html {
    background-color: #cfd8dc;
}

* {
    font-family: 'Raleway', sans-serif;
}

/* NAVIGATION BAR */
header {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #546e7a;
    border-right: solid;
    border-color: #263238;
    border-width: 3px;
    box-shadow: 5px 5px 8px #888888;
    font: 'Raleway';
}

header a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.navigation-apptrack{
    font-weight: 700;
    font-size: 35px;
}

/* MAIN BODY */
body {
    min-height: 100vh;
    margin-left: 225px;
}


/* APPLICATION INDEX PAGE */
/* .application-header {
    font-weight: 700;
} */

.application-index {
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}

#application-card {
    margin: 10px;
    box-shadow: 3px 3px 8px #888888;
}

#application-card-title {
    font-style: italic;
}

#priority-card {
    margin: 10px;
    box-shadow: 3px 3px 8px #888888;
    border: solid;
    border-width: 4px;
    border-color: #4fc3f7;
}


/* NEW APPLICATION PAGE */
/* NEW APPLICATION DIV */
#new-card {
    padding: 0px 15px 15px 15px;
}

#new-table {
    margin-bottom: 10px;
}

#new-btn {
    background-color: #546e7a;
}


/* CONTACT TIMELINE */
#contact-timeline-table {
    table-layout: fixed;
}