/* COLOR PALETTE: 
#eceff1 blue-grey lighten-5
#cfd8dc blue-grey lighten-4
#b0bec5 blue-grey lighten-3
#90a4ae blue-grey lighten-2
#78909c blue-grey lighten-1
#607d8b blue-grey
#546e7a blue-grey darken-1
#455a64 blue-grey darken-2
#37474f blue-grey darken-3
#263238 blue-grey darken-4 */

/* ENTIRE DOCUMENT */
html { 
    background-color: #cfd8dc;
}

/* NAVIGATION BAR */
header {
    /* height: 100%; */
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 30px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #546e7a;
    border: solid;
    border-color: #263238;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}

/* NAVIGATION BAR LINKS */
header a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 32px;
    color: #ffffff;
    display: block;
  }

  /* MAIN BODY */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-left: 140px;
}