{% extends 'base.html' %}{% block content %}

<h1>Application Information:</h1>

<div class="row">
    <div class="col s8">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ application.company_name }}</span>
                <hr>
                <p>Application Date: {{ application.date_applied }}</p>
                <p>Company Website: <a href="{{ app.company_website }}">{{application.company_website}}</a></p>
                <p>Company Summary: {{ application.company_summary}}</p>
                <p>Application Link: <a href="{{ app.application_link }}">{{ application.application_link}}</a></p>
                <p>Personal Notes: {{ application.notes }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'applications_update' application.id %}" class="btn">Update Application</a>
                <a href="{% url 'applications_delete' application.id %}" class="btn">Delete Application</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Current Status:</span>
                <p>{{ application.status_set.last.get_application_status_display }}</p>
                {% if status.is_priority %}
                <p id="status-priority">Priority Application.</p>
                {% endif %}
                <form method="post" action="{% url 'add_status' application.id %}">
                    {% csrf_token %} {{ status_form.as_p }}
                    <input type="submit" class="btn" value="Change Status">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <h4>Contact Timeline:</h4>
        <form method="POST" action="{% url 'add_contact' application.id %}">
            {% csrf_token %} {{contact_form.as_p}}
            <input type="submit" class="btn" value="Add Contact">
        </form>
        <table class="striped" id="contact-timeline-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Contact Method</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in application.contact_set.all %}
                <tr>
                    <td>{{contact.date}}</td>
                    <td>{{contact.get_contact_method_display}}</td>
                    <td>{{contact.notes}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var selectEl = document.getElementById('id_contact_method');
    M.FormSelect.init(selectEl);
    var selectEl = document.getElementById('id_application_status');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}