{% extends 'base.html' %} {% block content %}

<h1>Applications:</h1>

{% for app in applications %}
    <div class="card">
        <div class="card-content">
            <a href="/applications/{{ app.id }}/"><span class="card-title">{{ app.company_name }}:</span></a>
            <hr>
            <p>Application Date: {{ app.date_applied }}</p>
            <p>Company Website: <a href="{{ app.company_website }}">{{app.company_website}}</a></p>
            <p>Application Link: <a href="{{ app.application_link }}">{{ app.application_link}}</a></p>
        </div>
    </div>
{% endfor %}

{% endblock %}