{% extends 'base.html' %} {% block content %}
<br>
<div class="card" id="application-card">
    <div class="card-content">
        <p><strong>Priority Applications: </strong>All application marked with a 'Priority' status.</p>
    </div>
</div>
<div class="application-index">
    {% for app in applications %}
    {% if app.status_set.last.get_is_priority_display == 'Priority' %}
    <div class="card" id="priority-card">
        <div class="card-content">
            <a href="{% url 'applications_detail' app.id %}"><span class="card-title" id="application-card-title">{{app.company_name }}:</span></a>
            <hr>
            <p><strong>Apply Date: </strong> {{ app.date_applied }}</p>
            <p><strong>App Status: </strong>{{ app.status_set.last.get_application_status_display }}</p>
            <p><a href="{{ app.company_website }}">Company Website</a></p>
            <p><a href="{{ app.application_link }}">Application Link</a></p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
<div class="card" id="application-card">
    <div class="card-content">
        <p>Looks like there's no more job applications with a priority status! Click <a href="../applications/">HERE</a> to view all of your applications.</p>
    </div>
</div>

{% endblock %}