{% extends 'base.html' %} {% block content %}
<br>
<div class="card" id="application-card">
    <div class="card-content">
        <p><strong>Contacted Applications: </strong>All applications with a status of 'Followed-Up' or 'Received Contacted'.</p>
    </div>
</div>
<div class="application-index">
    {% for app in applications %}
    {% if app.status_set.last.get_application_status_display == 'Followed-Up' %}
    <div class="card" id="application-card">
        <div class="card-content">
            <a href="{% url 'applications_detail' app.id %}"><span class="card-title" id="application-card-title">{{app.company_name }}:</span></a>
            <hr>
            <p><strong>Apply Date: </strong> {{ app.date_applied }}</p>
            <p><strong>App Status: </strong>{{ app.status_set.last.get_application_status_display }}</p>
            <p><a href="{{ app.company_website }}">Company Website</a></p>
            <p><a href="{{ app.application_link }}">Application Link</a></p>
        </div>
    </div>
    {% endif %}
    {% if app.status_set.last.get_application_status_display == 'Received Contact' %}
    <div class="card" id="application-card">
        <div class="card-content">
            <a href="{% url 'applications_detail' app.id %}"><span class="card-title" id="application-card-title">{{app.company_name }}:</span></a>
            <hr>
            <p><strong>Apply Date: </strong> {{ app.date_applied }}</p>
            <p><strong>App Status: </strong>{{ app.status_set.last.get_application_status_display }}</p>
            <p><a href="{{ app.company_website }}">Company Website</a></p>
            <p><a href="{{ app.application_link }}">Application Link</a></p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
<div class="card" id="application-card">
    <div class="card-content">
        <p>Looks like there's no more job applications in the interview status! Click <a href="../applications/">HERE</a> to view all of your applications.</p>
    </div>
</div>

{% endblock %}