{% extends 'base.html' %} {% block content %}

<div class="card" id="application-card">
    <div class="card-content">
        <p><strong>Open Applications: </strong>All application with a status of 'Open' that have not been barked as 'Closed'.</p>
    </div>
</div>
<div class="application-index">
    {% for app in applications %}
    {% if app.status_set.last.get_application_status_display != 'Application Closed' %}
    {% if app.status_set.last.get_is_priority_display != 'Priority' %}
    <div class="card" id="application-card">
        <div class="card-content">
            <a href="{% url 'applications_detail' app.id %}"><span class="card-title" id="application-card-title">{{app.company_name }}:</span></a>
            <hr>
            <p><strong>Apply Date: </strong> {{ app.date_applied }}</p>
            <p><strong>App Status: </strong>{{ app.status_set.last.get_application_status_display }}</p>
            <p><a href="{{ app.company_website }}">Company Website</a></p>
            <p><a href="{{ app.application_link }}">Application Link</a></p>
        </div>
    </div>
    {% else %}
    <div class="card" id="priority-card">
        <div class="card-content">
            <a href="{% url 'applications_detail' app.id %}"><span class="card-title" id="application-card-title">{{app.company_name }}:</span></a>
            <hr>
            <p><strong>Apply Date: </strong> {{ app.date_applied }}</p>
            <p><strong>App Status: </strong>{{ app.status_set.last.get_application_status_display }}</p>
            <p><a href="{{ app.company_website }}">Company Website</a></p>
            <p><a href="{{ app.application_link }}">Application Link</a></p>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
<br>
<div class="card" id="application-card">
    <div class="card-content">
        <p>Looks like there's no more job applications! Feel free to add more using the 'NEW APP' option in the navigation bar!
    </div>
</div>
{% endblock %}